.assessment-badge{
  text-align: center;
  .assessment-title{
    font-family: @fontBodyDefaultBold;
    h2{
      margin-bottom: 10px;
    }
    margin-bottom: 40px;
  }

  .bottom-container{
    font-size: 1.375em;
  }
  .assessment-bottom{
    .assessment-button-next{
      .text{
        margin-left: -27px;
      }
      .button-mask-holder{
        &.default{
          .sprite-ui{
            .ui-back_btn_mask;
          }
        }
        &.activated{
          .sprite-ui{
            .ui-back_btn_hover_mask;
          }
        }
      }
    }
  }
}