.DS_Store
node_modules
reports
templates
.idea
bower_components

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

scorm.zip
package.zip
bin/assets/media
tmp
*.webm
*.flv
