.footer
  .row
    ul.footer-container.links
      li: a.footer-link(href="", target="_blank") About
      li: a.footer-link(href="", target="_blank") Privacy policy
      li: a.footer-link(href="", target="_blank") Terms
      li: a.footer-link(href="", target="_blank") Credits
    ul.footer-container.buttons
      li
        a.footer-button.twitter(href="", target="_blank")
          span.sr-only Twitter
          span.sprite-ui.ui-twitter
          span.sprite-ui.ui-twitter_hover
      li
        a.footer-button.facebook(href="", target="_blank")
          span.sr-only Facebook
          span.sprite-ui.ui-facebook
          span.sprite-ui.ui-facebook_hover
    ul.footer-container.logo
      li
        span.sr-only Powered by Curtin University
        span.sr-only Curtin University is a trademark of Curtin University of Technology
        .logo-holder
          img(data-ng-src="assets/images/curtain_footer_logo_bw.png", alt="footer logo")
