.thtTooltip(data-ng-style='{\"left\": getX(tooltip.position.x), \"top\": getY(tooltip.position.y)}', data-ng-class='{left:tooltip.left, top:tooltip.top, right: tooltip.right, bottom: tooltip.bottom}')
  .tipContentBorder
    .tipContent
      div(data-ng-bind-html='bindText(tooltip.text)')

