@paddingLeft: 30px;
@paddingRight: 30px;

h1{
	margin: 0;
	margin-top:1em;
	margin-bottom:1.2em;
	color: @fontColor2nd;
	font-size:2.375em;
	padding: 0 @paddingLeft 0 @paddingRight;
}

h2{
	color: @fontColor2nd;
	margin-top: 1em;
	margin-bottom:1em;
	font-size:1.969em;
	padding: 0 @paddingLeft 0 @paddingRight;
}

h3{
	font-size: 1.125em;
	color: @fontColor2nd;
	margin-top: 1em;
	margin-bottom:1em;
	padding: 0 @paddingLeft 0 @paddingRight;

}

p{
	font-size:1em;
	padding: 0 @paddingLeft 0 @paddingRight;
}

.screenReaderText {
	display: block;
	height: 1px;
	width: 1px;
	overflow: hidden;
	text-indent: 100px;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

header{
	width:auto;
	background-color: @color1st;
	border-bottom: 5px solid @color4th;
	padding-left: 2em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;

	ul{
		li{
			display: inline-block;
			a{
				color:@fontColor1st;
				&:hover,&:focus{
					color:@fontColor1stHover;
				}
			}
		}
	}
}

.container{
	width: 100%;
}

.inner-container{
	width:100%;
	margin: auto;

	.inner-block{
		max-width:800px;
		margin: auto;
	}

}

footer{
	width:auto;
	background-color: @color1st;
	border-top: 5px solid @color4th;
	padding-left: 2em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;

	p{
		color: @fontColor1st;
	}
}
