ul.nav.nav-pills
  li(data-ng-class="{active:screen.id=='intro'}"): a(href="JavaScript:void(0);" data-ng-click="Screen.go('intro')") Intro
  li(data-ng-class="{active:screen.id=='video1'}"): a(href="JavaScript:void(0);" data-ng-click="Screen.go('video1')") Video 1
  li(data-ng-class="{active:screen.id=='text1'}"): a(href="JavaScript:void(0);" data-ng-click="Screen.go('text1')") Text 1
  li(data-ng-class="{active:screen.id=='hidden1'}"): a(href="JavaScript:void(0);" data-ng-click="Screen.go('hidden1')") Hidden 1
  li(data-ng-class="{active:screen.id=='video2'}"): a(href="JavaScript:void(0);" data-ng-click="Screen.go('video2')") Video 2
  li(data-ng-class="{active:screen.id=='text2'}"): a(href="JavaScript:void(0);" data-ng-click="Screen.go('text2')") Text 2
