//Functions
.setOpacity(@percentage:1){
  @actualValue: (@percentage * 100);
  /* IE 8 */
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{percentage})";
  /* IE 5-7 */
  filter: ~"alpha(opacity=@{percentage})";
  /* Netscape */
  -moz-opacity: @percentage;
  /* Safari 1.x */
  -khtml-opacity: @percentage;
  /* Good browsers */
  opacity: @percentage;
}

.setBgImageCenter(@bgImageUrl){
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{bgImageUrl}', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{bgImageUrl}', sizingMethod='scale')";
}

.setContainerTopAndBottomShadow(){
  -webkit-box-shadow: 0 -@containerBoxShadowY @containerBoxShadowBlur 0 @containerBoxShadowColor, 0 @containerBoxShadowY @containerBoxShadowBlur 0 @containerBoxShadowColor;
  -moz-box-shadow: 0 -@containerBoxShadowY @containerBoxShadowBlur 0 @containerBoxShadowColor, 0 @containerBoxShadowY @containerBoxShadowBlur 0 @containerBoxShadowColor;
  box-shadow: 0 -@containerBoxShadowY @containerBoxShadowBlur 0 @containerBoxShadowColor, 0 @containerBoxShadowY @containerBoxShadowBlur 0 @containerBoxShadowColor;
}

.setContainerInnerShadow(@horizontal:0, @vertical:1px, @blur:2px, @color: rgba(0, 0, 0, 0.4)){
  -webkit-box-shadow: inset @horizontal @vertical @blur @color;
  -moz-box-shadow: inset @horizontal @vertical @blur @color;
  box-shadow: inset @horizontal @vertical @blur @color;
}

.setContainerOuterShadow(@x-axis: 0, @y-axis: 0, @blur: 2px, @color: rgba(0, 0, 0, 0.3)){
  -webkit-box-shadow: @x-axis @y-axis @blur @color;
  -moz-box-shadow: @x-axis @y-axis @blur @color;
  box-shadow: @x-axis @y-axis @blur @color;
}

.setfonttellofont(@code){
  &:before{
    content: @code;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
}

.setFontelloOk(){
  .setfonttellofont('\e801');
}

.setFonttelloOkCompleted(){
  .setfonttellofont('\e800');
}

.setFontelloCancel(){
  .setfonttellofont('\e802');
}

.setTextShadow(@x:0,@y:0,@blur:1px,@color:rgba(0,0,0,0.75)){
  -webkit-text-shadow: @x @y @blur @color;
  -moz-text-shadow: @x @y @blur @color;
  text-shadow: @x @y @blur @color;
}

.setTransformOrigin(@position: 0 0 0 ){
  -webkit-transform-origin:   @position;
  -moz-transform-origin:      @position;
  -o-transform-origin:        @position;
  -ms-transform-origin:       @position;
  transform-origin:           @position;
}

.setTransitionDelay(@duration:600ms){
  -webkit-transition-delay: @duration; /* Safari */
  transition-delay: @duration;
}

.setFullScreenBackgroundImage(){
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}