.popup.popupyoutuvideo.animate-fade(data-ng-if="video")
  .content-container
    a.btnclose(tnt-click,data-ng-click="close()")
      span.sr-only close video
      span.sprite-ui.ui-buttonclose
    .videoPlayer
